body{
    font-family: 'Moon Dance', cursive;
font-family: 'Poppins', sans-serif;
}
.color-item{
    color: brown;
}
.border-link{
    border-left: 5px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
    font-weight:2em;
    border-radius: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,red);
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.flexable-link{
    display: flex;
    margin-bottom: 40px;
    
}
.half-width{
    width: 50%;
    margin: 50px;
}
.half-width img{
    width: 50%;
}
#dis-block{
    display: block;
    margin-top: 50px;
}
#mission-in{
    text-align: center;
}
.experiment-item{
    width: 40%;
    box-shadow: 5px 5px gray;
    margin-left: 5px;
    border-radius: 5px;
    padding: 40px;
    border-top: 100px;
}
#bg-1{
    background-color: burlywood;
}
#bg-2{
    background-color: cadetblue;
}
#bg-3{
    background-color: coral;
}
footer p{
    text-align: center;
}
#mission-1{
    text-align: center;
    color:blue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#back-img{
    background-color: cyan;
}
#banner-1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
}

